.contenedor-texto-imagen {
  margin: 1rem 5rem;
  display: flex;
  align-items: center;
  height: 600px;
  overflow: hidden; 
}

.contenedor-columna-texto {
  flex: 1;
  padding: 20px;
  text-align: left;
}

.contenedor-imagen-sucursal {
  flex: 2;
  position: relative;
  overflow: hidden;
  
}

.contenedor-imagen-sucursal img {
  margin-top: 1rem;
  max-width: none;
  height: auto;
  width: 100%;
}

.contenedor-imagen-sucursal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 252, 248, 0.99), transparent);
  pointer-events: none;
}

@media screen and (max-width: 1366px) {
  .contenedor-texto-imagen {
    margin:0;
    height: auto;
  }
  .contendor-texto h1{
    margin: 0;
    font-size: 60px;
    
  }
  .contendor-texto h3{
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-texto-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow: hidden;
  }

  .contenedor-columna-texto {
    flex: 1;
    padding: 0;
    text-align: center;
  }

  .contenedor-imagen-sucursal {
    display: none;
  }
}
.contendor-texto p{
  font-size: 20px;
}