.contenedor-footer {
  margin: 2rem 10rem;
  display: flex;
  justify-content: space-between;
}

.columna {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.columna h2 {
  margin-bottom: 10px;
}

.columna a {
  display: block;
  margin-bottom: 5px;
  color: #383838;
  text-decoration: none;
}

.columna p {
  margin-bottom: 5px;
}

.columna a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1080px) {


  .contenedor-footer {
    margin: 0; 
  }
}
@media screen and (max-width: 1080px) {
 
  .contenedor-footer {
    margin: 2rem 1rem; 
  }
}

@media screen and (max-width: 768px) {

  .contenedor-footer {
    flex-wrap: wrap; 
    justify-content: center; 
  }

  .columna {
    flex: 1; 
    margin: 0 1rem; 

  }
}