.columnas-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 2rem 10rem;

}
.columna-item{
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.columna-texto{
    text-align: right;
    padding: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
}
.columna-texto h3{
    padding: 2rem 0;
}
.columna-item img{
  max-width: 400px;
  height: auto;
  margin-left: 3rem;
}
.contact-button {
    background-color: #4e4e43;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.contact-button:hover {
    background-color: #383838;
  }
.contact-button a {
    color: #fffcf8;
    text-decoration: none; 
  }

@media screen and (max-width: 1366px) {
    .columnas-container{
      margin: 2rem;
  }
}
@media screen and (max-width: 1080px){
  .columnas-container{
    grid-template-columns: 1fr;
}
.columna-texto{
  order: 1;
  padding: 0;
}
.columna-item{
  order: 2; 
  display: none;
}
.columna-texto h1{
  font-size: 65px;
}
}