.galeria-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin: 8rem 20rem;  */
  max-width: 100%; 
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  position: relative;
}

.image-container {
  text-align: center;
  margin: 0 1rem; 
  transition: transform 0.3s ease; 
}

.image-container img {
  width: auto;
  max-width: 400px; 
}


.arrow {
  width: 50px;
  height: 50px;
  background-color: #4e4e43;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fffcf8;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30rem;
  
}

.arrow:hover {
  background-color: #383838;
}

@media screen and (max-width: 1400px) {
  .image-container img {
    max-width: 300px;
    height: auto;
  }
  .arrow {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 1080px) {
  .image-container:nth-child(5),
  .image-container:nth-child(1) {
    display: none; 
  }
 h1{
  text-align: center;
 }
  
}